* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #243241;
}

.object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #3498db;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  -webkit-transition-property: scale, -webkit-box-shadow;
  transition-property: scale, -webkit-box-shadow;
  transition-property: scale, box-shadow;
  transition-property: scale, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.object__text {
  font-size: 2rem;
  color: whitesmoke;
  padding: 2rem;
}

.object:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #5b7ea3;
          box-shadow: 0px 0px 10px 0px #5b7ea3;
  scale: 1.03;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__group label {
  font-size: 2rem;
  color: white;
  width: 80%;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #3498db;
}

.form__group input {
  border: 2px solid lightblue;
  margin-top: 1.5rem;
  border-radius: 100rem;
  outline: none;
  width: 80%;
  font-size: 2rem;
  color: purple;
  padding: 0.5rem 1.5rem;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__group input:focus {
  border: 3px solid #3498db;
}

.form__group input:not(:focus):invalid {
  background-color: #df6161;
  border: none;
  color: white;
}

.btn {
  background: #3498db;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: -3rem;
}

.btn:active + .ball {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.ball {
  width: 6rem;
  height: 6rem;
  border: 1px solid white;
  margin-bottom: 5rem;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 3000ms;
  transition: -webkit-transform 3000ms;
  transition: transform 3000ms;
  transition: transform 3000ms, -webkit-transform 3000ms;
}

.container--4 .btn {
  background-color: unset;
  border: 4px solid #3498db;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 3rem;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  -webkit-transition: background-color 300ms 150ms, -webkit-transform 400ms;
  transition: background-color 300ms 150ms, -webkit-transform 400ms;
  transition: transform 400ms, background-color 300ms 150ms;
  transition: transform 400ms, background-color 300ms 150ms, -webkit-transform 400ms;
}

.container--4 .btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #3498db;
}

.container--5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container--5 h3 {
  color: white;
  font-size: 1em;
}

.container__space {
  height: 8%;
  width: 70%;
  border: 1px solid white;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__space__cube {
  height: 80%;
  width: 6%;
  background-color: white;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-name: prm;
          animation-name: prm;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.container__space__cube--1 {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.container__space__cube--2 {
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.container__space__cube--3 {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.container__space__cube--4 {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.container__space__cube--5 {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes prm {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(1565%);
            transform: translateX(1565%);
  }
}

@keyframes prm {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(1565%);
            transform: translateX(1565%);
  }
}

.container--6 .btn:active + .block6 {
  -webkit-transform: scaleX(2) scaleY(0.5);
          transform: scaleX(2) scaleY(0.5);
}

.container--6 .block6 {
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  width: 6rem;
  height: 6rem;
  background-color: white;
  margin-bottom: 5rem;
}

.container--7 .btn:active + .block7 {
  -webkit-transform: translate(90%, -60%);
          transform: translate(90%, -60%);
}

.container--7 .block7 {
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  width: 6rem;
  height: 6rem;
  background-color: white;
  margin-bottom: 5rem;
}

.container--8 .btn:active + .block8 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container--8 .btn:active + .block8 .block8__txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container--8 .block8 {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  width: 6rem;
  height: 6rem;
  background-color: white;
  margin-bottom: 5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--8 .block8__txt {
  display: inline-block;
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: -webkit-transform 280ms ease-out 50ms;
  transition: -webkit-transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms, -webkit-transform 280ms ease-out 50ms;
  font-weight: 600;
  font-size: 1.8rem;
}

.container--9 .btn {
  margin-top: 5rem;
}

.container--9 .btn:active + .blockbox > .blockbox--1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.container--9 .btn:active + .blockbox > .blockbox--2 {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.container--9 .blockbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container--9 .blockbox--1 {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.container--9 .blockbox--2 {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.container--9 .block9 {
  width: 6rem;
  height: 6rem;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
}

.container--10 .btn:active + .block10 {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}

.container--10 .btn:active + .block10 .block10__txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container--10 .block10 {
  -webkit-transform: scale(0.3) rotate(-90deg);
          transform: scale(0.3) rotate(-90deg);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  width: 6rem;
  height: 6rem;
  background-color: white;
  margin-bottom: 5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--10 .block10__txt {
  display: inline-block;
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: -webkit-transform 280ms ease-out 50ms;
  transition: -webkit-transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms, -webkit-transform 280ms ease-out 50ms;
  font-weight: 600;
  font-size: 1.8rem;
}

.container--11 {
  padding: 2%;
}

.container--11 .btn {
  -webkit-box-ordinal-group: unset;
      -ms-flex-order: unset;
          order: unset;
  margin: unset;
}

.container--11 .btn:active + .block11 {
  -webkit-transform: scale(1.9) translateX(80%) translateY(-10%);
          transform: scale(1.9) translateX(80%) translateY(-10%);
}

.container--11 .block11 {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  margin-top: 2rem;
  width: 10rem;
  height: 10rem;
  background-color: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--12 .block12 {
  height: 30%;
  width: 30%;
  background-color: white;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.container--12--1 {
  -webkit-animation-name: skewX;
          animation-name: skewX;
}

.container--12--2 {
  -webkit-animation-name: skewY;
          animation-name: skewY;
}

.container--12--3 {
  -webkit-animation-name: skew;
          animation-name: skew;
}

.container--12 .info {
  color: white;
  text-align: center;
}

@-webkit-keyframes skewX {
  from {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  to {
    -webkit-transform: skewX(45deg);
            transform: skewX(45deg);
  }
}

@keyframes skewX {
  from {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  to {
    -webkit-transform: skewX(45deg);
            transform: skewX(45deg);
  }
}

@-webkit-keyframes skewY {
  from {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  to {
    -webkit-transform: skewY(45deg);
            transform: skewY(45deg);
  }
}

@keyframes skewY {
  from {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  to {
    -webkit-transform: skewY(45deg);
            transform: skewY(45deg);
  }
}

@-webkit-keyframes skew {
  from {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
  }
  to {
    -webkit-transform: skew(45deg, 45deg);
            transform: skew(45deg, 45deg);
  }
}

@keyframes skew {
  from {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
  }
  to {
    -webkit-transform: skew(45deg, 45deg);
            transform: skew(45deg, 45deg);
  }
}

.header {
  background-color: #1b2531;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky top;
  position: sticky top;
}

.header .fa-lemon {
  color: white;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.header__logo {
  color: white;
  padding: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2%;
}

.content .animation {
  background-color: #243241;
  border: 0.5px solid white;
  padding: 2%;
}

.content .animation .number__txt {
  color: rgba(255, 255, 255, 0.774);
  font-family: 'PT Mono', monospace;
}

.content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}

.content .container--3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container--6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container--7 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container--8 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container--9 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container--10 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container--11 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .container--12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 80%;
      grid-template-rows: 80%;
  justify-items: center;
  padding: 5%;
}
/*# sourceMappingURL=main.css.map */