$primary-color : #243241 ;
$secondary-color : #3498db;
$invalid : rgb(223, 97, 97);
$btn-width: 14vw;
$btn-height: 6vw;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;



@mixin contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;   
}

@mixin facet {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
        
    }
    100% {
        transform: scaleY(1.0);
    }
}
