.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2%;
    .animation{
        background-color: $primary-color;
        border: 0.5px solid white;
        padding: 2%;
        .number{
            &__txt{
                color: rgba(255, 255, 255, 0.774);
                font-family: 'PT Mono', monospace;
                font-weight: 400;
            }
        }
    }
    .container{
        @include contain;
    &--3{
        flex-direction: column;
    }
    &--6{
        flex-direction: column;
    }
    &--7{
        flex-direction: column;
    }
    &--8{
        flex-direction: column;
    }
    &--9{
        flex-direction: column;
    }
    &--10{
        flex-direction: column;
    }
    &--11{
        flex-direction: column;
        align-items: flex-start;
    }
    &--12{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 80%;
        justify-items: center;
        padding: 5%;
    }
    &--13{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 80%;
        justify-items: center;
        padding: 5%;
    }
    &--14{
        flex-direction: column;
    }
    &--16{
        flex-direction: column;
    }
    }
}